
#rectangle{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 80px;
    right: 0px;
    left: 0px;
    top: 0px;
    background: #110e3c;
 
    
}
#rectangle-after{
    opacity: 90%;
}
#rlc{
    position: absolute;

    left: 18px;
    top: 25px;
    text-decoration: none;
    flex-direction: row;
    
    font-family: Verdana;
    font-style: normal;
    font-weight: semi-bold;
    font-size: 45px;
    line-height: 42px;
    text-align: center;
    background: -webkit-linear-gradient(#a06c74, #7c345a, #b0195e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#options{
    position: relative;
    /*width: 95px;
    height: 35px;
    left: 945px;*/
    float: right;
    right: 0px;
    top: 28px;
    flex-direction: row;
    text-decoration: none;
    word-spacing: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
}
#options:hover{
    color: #b0195e ;
}
#photoName{
    position: absolute;
    width: 100%;
    height: 2000px;
    left: 0px;
    top: 80px;
    background-image: radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -o-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -ms-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -moz-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
	background-image: -webkit-radial-gradient(center bottom, ellipse cover, #5b1c4d, #0f0c3b);
}
#photoProfile{
    position: absolute;
    width: 250px;
    height: 250px;
    padding: 10px;
    justify-content: center;
    left: 40%;
    top: 40px;
    flex-direction: column;
    border-radius: 50%;
    border: 5px solid #b0195e ;
}

#text{
    position: relative;
    font-style: Roboto;
    color: #ffffff;
    top: 300px;
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
    font-style: Roboto;
}
h2{
    font-size: 24px;
    font-style: Roboto;
}
p{
    font-size: 20px;
    font-style: Roboto;
}
.container{
    max-width: 450px;
	margin: 0 auto;
	display: flex;
    border: 5px solid #b0195e;
    flex-wrap: wrap;
}
#item{
    flex: 1;
	margin: 20px;
	text-align: center;
	
}
.icons{
    font-size: 50px; 
    text-decoration: none;
    color: #ffffff;
    word-spacing: 30px;
}
.icons:visited{
    color: #b0195e;
}
